<div class="justify-between items-start flex flex-col pl-2.5 max-md:hidden">
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/461ccda3-8aed-4925-af45-b7a21b6ad72c?apiKey=6215189a0f984e9aa86930b77a9d2243&"
    class="aspect-[1.32] object-contain object-center w-[50px] overflow-hidden self-center mt-6"
  />
  <div
    class="items-center bg-white self-stretch flex aspect-[1.3888888888888888] flex-col mt-2 p-1.5 rounded-lg"
  >
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/e72d1278-b36e-44bf-8e3d-08244e769ae5?apiKey=6215189a0f984e9aa86930b77a9d2243&"
      class="aspect-[1.58] object-contain object-center w-[38px] overflow-hidden"
    />
  </div>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/e628035f-7ffa-4fa3-bd9d-9fdba095485e?apiKey=6215189a0f984e9aa86930b77a9d2243&"
    class="aspect-[50] object-contain object-center w-[50px] self-center fill-gray-100 overflow-hidden mt-4"
  />
  <div
    class="items-center bg-slate-50 self-stretch flex aspect-[1.3888888888888888] flex-col mt-4 p-1.5 rounded-lg"
  >
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/c07965e1-b09e-405e-bf4a-3882e44a3118?apiKey=6215189a0f984e9aa86930b77a9d2243&"
      class="aspect-[1.58] object-contain object-center w-[38px] overflow-hidden"
    />
  </div>
  <div
    class="items-center bg-slate-50 self-stretch flex aspect-[1.3888888888888888] flex-col mt-2 p-1.5 rounded-lg"
  >
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/6c4ed70f-c2a3-4ab4-9946-13bc84684296?apiKey=6215189a0f984e9aa86930b77a9d2243&"
      class="aspect-[1.58] object-contain object-center w-[38px] overflow-hidden"
    />
  </div>
  <div
    class="items-center bg-white self-stretch flex aspect-[1.3888888888888888] flex-col mt-2 p-1.5 rounded-lg"
  >
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/13f1552e-3b57-4a09-a121-ecf6b9e02c89?apiKey=6215189a0f984e9aa86930b77a9d2243&"
      class="aspect-[1.58] object-contain object-center w-[38px] overflow-hidden"
    />
  </div>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/6016213f-5d06-40bd-81f7-91fcb80bf246?apiKey=6215189a0f984e9aa86930b77a9d2243&"
    class="aspect-[50] object-contain object-center w-[50px] self-center fill-gray-100 overflow-hidden mt-[552px] max-md:mt-10"
  />
  <div
    class="text-gray-700 text-center text-xs font-medium leading-5 whitespace-nowrap justify-center items-stretch bg-gray-100 self-stretch aspect-[1.3888888888888888] my-6 px-2.5 py-2.5 rounded-[100px] max-md:pr-0"
  >
    SN
  </div>
</div>